<div class="main-title-container">
    <p class="main-title">{{ fullName }}</p>
</div>

<div class="success-message-container">
    @if (errorMessage && errorMessage.length != 0) {
        <p class="alert alert-danger">{{ errorMessage }}</p>
    }
</div>

@if (admin) {
    <div class="profile-container">
        <div class="profile-pic">
            <img [src]="profilePicture" alt="Foto de perfil" width="200" height="200" />
        </div>
        <div class="profile-data">
            <div class="mb-3 admin-info-field">
                <label class="form-label">Nombre de usuario</label>
                <p class="form-control">{{ admin.username }}</p>
            </div>
            <div class="mb-3 admin-info-field">
                <label class="form-label">Nombre</label>
                <p class="form-control">{{ admin.name }}</p>
            </div>
            <div class="mb-3 admin-info-field">
                <label class="form-label">Apellido/s</label>
                <p class="form-control">{{ admin.lastName }}</p>
            </div>
            <div class="mb-3 admin-info-field">
                <label class="form-label">Correo electrónico</label>
                <p class="form-control">{{ admin.email }}</p>
            </div>
        </div>
    </div>
}